<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">

	<context:component-scan base-package="com.springbook.biz"></context:component-scan>
	
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
	
	<!--  DataSource 설정 -->
	<context:property-placeholder location = "classpath:config/database.properties"/>
	
	<bean id = "dataSource" class = "org.apache.commons.dbcp.BasicDataSource" destroy-method = "close">
		<property name="driverClassName" value = "${jdbc.driver}"></property>
		<property name = "url" value = "${jdbc.url}"></property>
		<property name = "username" value = "${jdbc.username}"></property>
		<property name = "password" value = "${jdbc.password}"></property>
	</bean>
	
	 <!-- 
	<bean id = "dataSource" class = "org.apache.commons.dbcp.BasicDataSource" destroy-method = "close">
		<property name="driverClassName" value = "org.h2.Driver"></property>
		<property name = "url" value = "jdbc:h2:tcp://localhost/~/test"></property>
		<property name = "username" value = "sa"></property>
		<property name = "password" value = ""></property>
	</bean>

	  -->
	  
	<!-- Spring JDBC 설정 -->
	<bean id = "jdbcTemplate" class = "org.springframework.jdbc.core.JdbcTemplate">
		<property name = "dataSource" ref = "dataSource"></property>
	</bean>
	
	
	<bean id = "txManager" class = "org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name = "dataSource" ref = "dataSource"></property>
	</bean>
	
	<tx:advice id = "txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="get*" read-only="true"/>
			<tx:method name="*"/>
		</tx:attributes>
	</tx:advice>
	
	<aop:config>
		<aop:pointcut id = "txPointcut" expression="execution(* com.springbook.biz..*(..))"></aop:pointcut>
		<aop:advisor pointcut-ref = "txPointcut" advice-ref="txAdvice"/>
	</aop:config>
	
	<!-- 
		<aop:aspect ref="log">
			<aop:before pointcut-ref="getPointcut" method="beforeLog"/>	
			<aop:after-throwing pointcut-ref="getPointcut" method="exceptionLog" throwing="exceptObj"/>
		</aop:aspect>
	
	
	<bean id = "userService" class = "com.springbook.biz.user.impl.UserServiceImpl">
		<property name = "userDAO" ref="userDAO"></property>
	</bean>
	
	<bean id = "userDAO" class = "com.springbook.biz.user.impl.UserDAO"></bean>
	
	
	<context:component-scan base-package="polymorphism"></context:component-scan>
	<bean class = "polymorphism.SonySpeaker"></bean>
	
	<context:component-scan base-package="com.springbook.injection"></context:component-scan>
	
	
	<bean id = "tv" class = "polymorphism.SamsungTV" init-method="initMethod" destroy-method="destroyMethod"
			p:speaker-ref="sony" p:price="27000000">
	</bean>
	
	<bean id = "sony" class="polymorphism.SonySpeaker"></bean>
	<bean id = "apple" class = "polymorphism.AppleSpeaker"></bean>
	
	<bean id = "lg" class = "polymorphism.LgTV"/> 

	<bean id = "collectionBean" class = "com.springbook.injection.CollectionBean">
		<property  name="addressList">
			<list>
				<value>서울시 강남구 역삼동</value>
				<value>서울시 성동구 행당동</value>
			</list>
		</property>
	</bean>
	 -->
</beans>
<!-- 주석 import resource = ~~ -->